* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%); */
  background-image: url(./modern-futuristic-sci-fi-background_35913-2150.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.catch {
  position: absolute;
  border: 2px solid red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: none;
}
h4 {
  font-size: 0.6rem;
  color: blue;
  text-align: center;
  margin-top: 1.1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
h4 span a {
  color: rgb(255, 94, 0);
  font-size: 0.8rem;
  transition: all 0.6s ease-in-out;
}
span a:hover {
  font-size: 2rem;
}
.catch {
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  color: rgb(33, 7, 80);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  width: 120px;
  height: 90px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.catch:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.catch:active {
  box-shadow: none;
}
.restart,
.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  z-index: 1;
}
.restart {
  display: none;
}
.restart h1 {
  font-size: 4rem;
  color: rgb(207, 55, 9);
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: “Open Sans”, sans-serif;
  color: #f5f5f5;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #ff3, 0px -10px 20px #f90,
    0px -20px 40px #c33;
  font-size: 64px;
}
.catchTime {
  font-size: 2rem;
  text-shadow: none;
  color: #d299c2;
}
.reset,
.play {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  width: 120px;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.reset:hover,
.play:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.down {
  transform: translateY(0);
  animation: movement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes movement {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.3em);
  }
}

.start h1 {
  text-align: center;
  position: relative;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fdadad;
  letter-spacing: 5px;
  animation: shift 4s ease-in-out infinite alternate;
  z-index: 1;
  text-shadow: 0px -2px 4px #979090, 0px -2px 10px #f3baba,
    0px -10px 20px #f08c8c, 0px -20px 40px #f02c2c;
}

.start h1:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -2px;
  text-shadow: -1px 0 #00ffff;
  width: 100%;
  color: #fff;
  background-color: #222;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.start h1:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 2px;
  text-shadow: 1px 0 #ff00ff;
  width: 100%;
  color: #fff;
  background-color: #222;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}
.timer {
  position: absolute;
  top: 0;
  left: 10px;
  font-weight: 500;
  color: rgb(24, 107, 24);
  font-size: 5rem;
  transition: all 0.5s ease-in-out;
  text-shadow: 0px -2px 4px #979090, 0px -2px 10px #f3baba,
    0px -10px 20px #f1e861, 0px -20px 40px #9abb07;
  display: none;
}
@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }

  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }

  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }

  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }

  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }

  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }

  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }

  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }

  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }

  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }

  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }

  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }

  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }

  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }

  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }

  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }

  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }

  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }

  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }

  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }

  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }

  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }

  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }

  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }

  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }

  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }

  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }

  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }

  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }

  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }

  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }

  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }

  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }

  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }

  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }

  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }

  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }

  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }

  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }

  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }

  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}

@keyframes shift {
  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  42% {
    transform: skewX(-10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
    transform: skewX(10deg) skewY(-5deg);
  }

  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}